<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>luv2code Company Home Page</title>
</head>

<body>
	<h2>Company Home Page</h2>
	<hr>
	Welcome to the company home page!
	<p>
		User: <span th:text="${username}"></span>
	</p>
	<p>
		Role: <span th:text="${role}"></span>
	</p>

	<p th:if="${isManager}">
		<a th:href="@{/leader}">Leadership Meeting</a>
		(Only for Manager peeps)
	</p>

	<form action="#" th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
</body>